services:
  jenkins:
    # image: jenkins/jenkins:lts-jdk21   ← закомментируйте или удалите
    build:
      context: .
      dockerfile: jenkins.Dockerfile
    container_name: jenkins
    restart: unless-stopped
    user: root
    ports:
      - "8085:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins-plugins.txt:/usr/share/jenkins/ref/plugins.txt
    networks:
      - microservices-net
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - microservices-net

  # Инфраструктура: Брокер сообщений
  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - microservices-net
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Инфраструктура: Трассировка
  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"
    networks:
      - microservices-net

  # Инфраструктура: Метрики
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - microservices-net

  # Микросервисы
  analytics-service-beauty-salon:
    build: ./analytics-service-beautySalon
    ports:
      - "9091:9090" # gRPC порт
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8081
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  notification-service-beauty-salon:
    build: ./notification-service-beautySalon
    ports:
      - "8083:8083"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8083
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  audit-service-beauty-salon:
    build: ./audit-service-beautySalon
    ports:
      - "8082:8082"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8082
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  beauty-salon:
    build: ./beauty-salon
    ports:
      - "8080:8080"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      # Указываем адрес gRPC сервиса внутри сети Docker
      - GRPC_CLIENT_ANALYTICS_SERVICE_ADDRESS=static://analytics-service-beautySalon:9090
    depends_on:
      rabbitmq:
        condition: service_healthy
      analytics-service-beauty-salon:
        condition: service_started
    networks:
      - microservices-net

volumes:
  jenkins_home:
  grafana-storage:

networks:
  microservices-net:
    driver: bridge